In [1]:
import pandas as pd
import numpy as np

In [9]:
from pydataset import data

In [18]:
mpg = data('mpg')

In [19]:
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [12]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup
...,...,...,...,...,...,...,...,...,...,...,...
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [16]:
numbers_strings = ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']
numbers = [float(number.replace(',','')[1:]) for number in numbers_strings]
numbers

[796459.41,
 278.6,
 482571.67,
 4503915.98,
 2121418.3,
 1260813.3,
 87231.01,
 1509175.45,
 4138548.0,
 2848913.8,
 594715.39,
 4789988.17,
 4513644.5,
 3191059.97,
 1758712.24,
 4338283.54,
 4738303.38,
 2791759.67,
 769681.94,
 452650.23]

In [22]:
# How many rows and columns are there?
mpg.shape

(234, 11)

In [24]:
# What are the data types?
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [27]:
# Do any cars have better city mileage than highway mileage?
mpg[mpg.cty > mpg.hwy]
# No

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, cty, hwy, fl, class]
Index: []

In [29]:
# Create a column named milelage_difference this column should contain the difference between highway and city 
# mileage for each car.
mileage_difference = mpg.hwy - mpg.cty
mileage_difference.head(10)

1     11
2      8
3     11
4      9
5     10
6      8
7      9
8      8
9      9
10     8
dtype: int64

In [90]:
# On average, which manufacturer has the best miles per gallon?
mpg['cty_hwy_combined'] = (mpg.cty + mpg.hwy)/2
# print(mpg.groupby('manufacturer')['cty', 'hwy', 'cty_hwy_combined'].mean())
# print(mpg.groupby('manufacturer')['cty'].mean().max())
# print(mpg.groupby('manufacturer')['hwy'].mean().max())
# print(mpg.groupby('manufacturer')['cty_hwy_combined'].mean().max())
manufacturer_mpg = mpg.groupby('manufacturer')['cty', 'hwy', 'cty_hwy_combined'].mean()
manufacturer_mpg.sort_values('cty', ascending=False).head(1)
# manufacturer_mpg['cty'].max()
# manufacturer_mpg['hwy'].max()

                    cty        hwy  cty_hwy_combined
manufacturer
honda         24.444444  32.555556              28.5

In [36]:
# How many different manufacturers are there?
print(pd.unique(mpg.manufacturer))
print(len(pd.unique(mpg.manufacturer)))

['audi' 'chevrolet' 'dodge' 'ford' 'honda' 'hyundai' 'jeep' 'land rover'
 'lincoln' 'mercury' 'nissan' 'pontiac' 'subaru' 'toyota' 'volkswagen']
15

In [37]:
# How many different models are there?
print(pd.unique(mpg.model))
print(len(pd.unique(mpg.model)))

['a4' 'a4 quattro' 'a6 quattro' 'c1500 suburban 2wd' 'corvette'
 'k1500 tahoe 4wd' 'malibu' 'caravan 2wd' 'dakota pickup 4wd'
 'durango 4wd' 'ram 1500 pickup 4wd' 'expedition 2wd' 'explorer 4wd'
 'f150 pickup 4wd' 'mustang' 'civic' 'sonata' 'tiburon'
 'grand cherokee 4wd' 'range rover' 'navigator 2wd' 'mountaineer 4wd'
 'altima' 'maxima' 'pathfinder 4wd' 'grand prix' 'forester awd'
 'impreza awd' '4runner 4wd' 'camry' 'camry solara' 'corolla'
 'land cruiser wagon 4wd' 'toyota tacoma 4wd' 'gti' 'jetta' 'new beetle'
 'passat']
38

In [92]:
# Do automatic or manual cars have better miles per gallon?
print(mpg.groupby('trans')['cty', 'hwy', 'cty_hwy_combined'].mean())
print(mpg.groupby('trans')['cty'].mean().max())
print(mpg.groupby('trans')['hwy'].mean().max())
print(mpg.groupby('trans')['cty_hwy_combined'].mean().max())

                  cty        hwy  cty_hwy_combined
trans
auto(av)    20.000000  27.800000         23.900000
auto(l3)    21.000000  27.000000         24.000000
auto(l4)    15.939759  21.963855         18.951807
auto(l5)    14.717949  20.717949         17.717949
auto(l6)    13.666667  20.000000         16.833333
auto(s4)    18.666667  25.666667         22.166667
auto(s5)    17.333333  25.333333         21.333333
auto(s6)    17.375000  25.187500         21.281250
manual(m5)  19.258621  26.293103         22.775862
manual(m6)  16.894737  24.210526         20.552632
21.0
27.8
24.0

In [67]:
mam = data('Mammals')

In [68]:
mam

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [70]:
data('Mammals', show_doc=True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

In [71]:
# How many rows and columns are there?
mam.shape

(107, 4)

In [73]:
# What are the data types?
mam.dtypes

weight      float64
speed       float64
hoppers        bool
specials       bool
dtype: object

In [102]:
# What is the the weight of the fastest animal?
mam.sort_values('speed', ascending=False).head(1)

    weight  speed  hoppers  specials
53    55.0  110.0    False     False

In [124]:
# What is the overall percentage of specials?
mam.groupby([mam.specials]).size()

specials
False    97
True     10
dtype: int64

In [146]:
mam.weight[mam.specials == True].count() / mam.specials.count()

0.09345794392523364

In [159]:
# How many animals are hoppers that are above the median speed? What percentage is this?
print('The number of hoppers that are above the median speed = ' + str(mam.hoppers[mam.speed > mam.speed.quantile(0.5)][mam.hoppers == True].count()))
print('The percentage of these to the entire sample is ' + str(mam.hoppers[mam.speed > mam.speed.quantile(0.5)][mam.hoppers == True].count()/mam.hoppers.count()))

The number of hoppers that are above the median speed = 7
The percentage of these to the entire sample is 0.06542056074766354

In [230]:
mam.hoppers[mam.speed > mam.speed.quantile(0.5)][mam.hoppers == True]

96     True
97     True
98     True
99     True
100    True
101    True
102    True
Name: hoppers, dtype: bool

In [163]:
def get_db_url(db, user, host, password):
    from sqlalchemy import create_engine
    url = f'mysql+pymysql://{user}:{password}@{host}/{db}'
    return create_engine(url)

In [164]:
from env import user, host, password

In [165]:
import pandas as pd
conn = get_db_url('employees', user, host, password)

In [172]:
read_employees = pd.read_sql('select * from employees;', conn)

In [173]:
read_employees

        emp_no  birth_date    first_name       last_name gender   hire_date
0        10001  1953-09-02        Georgi         Facello      M  1986-06-26
1        10002  1964-06-02       Bezalel          Simmel      F  1985-11-21
2        10003  1959-12-03         Parto         Bamford      M  1986-08-28
3        10004  1954-05-01     Chirstian         Koblick      M  1986-12-01
4        10005  1955-01-21       Kyoichi        Maliniak      M  1989-09-12
5        10006  1953-04-20        Anneke         Preusig      F  1989-06-02
6        10007  1957-05-23       Tzvetan       Zielinski      F  1989-02-10
7        10008  1958-02-19        Saniya        Kalloufi      M  1994-09-15
8        10009  1952-04-19        Sumant            Peac      F  1985-02-18
9        10010  1963-06-01     Duangkaew        Piveteau      F  1989-08-24
10       10011  1953-11-07          Mary           Sluis      F  1990-01-22
11       10012  1960-10-04      Patricio       Bridgland      M  1992-12-18
12       10013  1963-06-07     Eberhardt          Terkki      M  1985-10-20
13       10014  1956-02-12         Berni           Genin      M  1987-03-11
14       10015  1959-08-19      Guoxiang       Nooteboom      M  1987-07-02
15       10016  1961-05-02      Kazuhito     Cappelletti      M  1995-01-27
16       10017  1958-07-06     Cristinel       Bouloucos      F  1993-08-03
17       10018  1954-06-19      Kazuhide            Peha      F  1987-04-03
18       10019  1953-01-23       Lillian         Haddadi      M  1999-04-30
19       10020  1952-12-24        Mayuko         Warwick      M  1991-01-26
20       10021  1960-02-20         Ramzi            Erde      M  1988-02-10
21       10022  1952-07-08        Shahaf          Famili      M  1995-08-22
22       10023  1953-09-29         Bojan      Montemayor      F  1989-12-17
23       10024  1958-09-05       Suzette          Pettey      F  1997-05-19
24       10025  1958-10-31     Prasadram          Heyers      M  1987-08-17
25       10026  1953-04-03      Yongqiao        Berztiss      M  1995-03-20
26       10027  1962-07-10        Divier         Reistad      F  1989-07-07
27       10028  1963-11-26      Domenick        Tempesti      M  1991-10-22
28       10029  1956-12-13         Otmar          Herbst      M  1985-11-20
29       10030  1958-07-14         Elvis         Demeyer      M  1994-02-17
30       10031  1959-01-27       Karsten          Joslin      M  1991-09-01
31       10032  1960-08-09         Jeong         Reistad      F  1990-06-20
32       10033  1956-11-14          Arif           Merlo      M  1987-03-18
33       10034  1962-12-29         Bader            Swan      M  1988-09-21
34       10035  1953-02-08         Alain       Chappelet      M  1988-09-05
35       10036  1959-08-10    Adamantios       Portugali      M  1992-01-03
36       10037  1963-07-22       Pradeep        Makrucki      M  1990-12-05
37       10038  1960-07-20          Huan           Lortz      M  1989-09-20
38       10039  1959-10-01     Alejandro         Brender      M  1988-01-19
39       10040  1959-09-13         Weiyi         Meriste      F  1993-02-14
40       10041  1959-08-27           Uri          Lenart      F  1989-11-12
41       10042  1956-02-26          Magy       Stamatiou      F  1993-03-21
42       10043  1960-09-19        Yishay         Tzvieli      M  1990-10-20
43       10044  1961-09-21       Mingsen          Casley      F  1994-05-21
44       10045  1957-08-14          Moss      Shanbhogue      M  1989-09-02
45       10046  1960-07-23        Lucien       Rosenbaum      M  1992-06-20
46       10047  1952-06-29        Zvonko       Nyanchama      M  1989-03-31
47       10048  1963-07-11       Florian        Syrotiuk      M  1985-02-24
48       10049  1961-04-24         Basil          Tramer      F  1992-05-04
49       10050  1958-05-21       Yinghua          Dredge      M  1990-12-25
50       10051  1953-07-28      Hidefumi           Caine      M  1992-10-15
51       10052  1961-02-26        Heping          Nitsch      M  1988-05-21
52       10053  1954-09-13        Sanjiv        Zschoche      F  1986-02-04
53       10054  1957-04-04        Mayumi       Schueller      M  1995-03-13
54       10055  1956-06-06        Georgy          Dredge      M  1992-04-27
55       10056  1961-09-01       Brendon         Bernini      F  1990-02-01
56       10057  1954-05-30          Ebbe        Callaway      F  1992-01-15
57       10058  1954-10-01       Berhard        McFarlin      M  1987-04-13
58       10059  1953-09-19     Alejandro        McAlpine      F  1991-06-26
59       10060  1961-10-15      Breannda     Billingsley      M  1987-11-02
60       10061  1962-10-19           Tse          Herber      M  1985-09-17
61       10062  1961-11-02        Anoosh            Peyn      M  1991-08-30
62       10063  1952-08-06          Gino       Leonhardt      F  1989-04-08
63       10064  1959-04-07           Udi          Jansch      M  1985-11-20
64       10065  1963-04-14        Satosi           Awdeh      M  1988-05-18
65       10066  1952-11-13          Kwee        Schusler      M  1986-02-26
66       10067  1953-01-07        Claudi        Stavenow      M  1987-03-04
67       10068  1962-11-26      Charlene         Brattka      M  1987-08-07
68       10069  1960-09-06     Margareta         Bierman      F  1989-11-05
69       10070  1955-08-20        Reuven      Garigliano      M  1985-10-14
70       10071  1958-01-21         Hisao          Lipner      M  1987-10-01
71       10072  1952-05-15      Hironoby           Sidou      F  1988-07-21
72       10073  1954-02-23          Shir         McClurg      M  1991-12-01
73       10074  1955-08-28       Mokhtar       Bernatsky      F  1990-08-13
74       10075  1960-03-09           Gao        Dolinsky      F  1987-03-19
75       10076  1952-06-13          Erez        Ritzmann      F  1985-07-09
76       10077  1964-04-18          Mona           Azuma      M  1990-03-02
77       10078  1959-12-25         Danel       Mondadori      F  1987-05-26
78       10079  1961-10-05       Kshitij            Gils      F  1986-03-27
79       10080  1957-12-03        Premal            Baek      M  1985-11-19
80       10081  1960-12-17      Zhongwei           Rosen      M  1986-10-30
81       10082  1963-09-09        Parviz           Lortz      M  1990-01-03
82       10083  1959-07-23         Vishv         Zockler      M  1987-03-31
83       10084  1960-05-25         Tuval        Kalloufi      M  1995-12-15
84       10085  1962-11-07       Kenroku       Malabarba      M  1994-04-09
...        ...         ...           ...             ...    ...         ...
299939  499915  1954-12-28          Mang          Rodite      M  1989-02-22
299940  499916  1962-01-09       Florina        Cusworth      F  1997-05-18
299941  499917  1963-07-08      Kiyokazu         Fiebach      M  1986-02-24
299942  499918  1957-03-22        Hilary         Rodiger      M  1992-05-13
299943  499919  1960-04-18        Masako        Angiulli      M  1991-01-09
299944  499920  1953-07-18        Christ         Murtagh      M  1986-04-17
299945  499921  1958-09-25         Nigel         Solovay      M  1989-08-19
299946  499922  1953-08-25     Mitsuyuki         Doering      F  1986-07-03
299947  499923  1964-12-21         Sergi          Melton      F  1993-04-08
299948  499924  1963-06-08         Angus            Swan      M  1998-08-04
299949  499925  1954-10-17         Tuval        Hardjono      M  1991-10-29
299950  499926  1956-10-15        Youpyo      Perfilyeva      F  1985-08-16
299951  499927  1953-03-18       Manohar       Heemskerk      M  1988-03-13
299952  499928  1961-03-17          Moni            Bale      M  1985-03-30
299953  499929  1959-11-03       Phillip        Schnabel      M  1996-05-12
299954  499930  1959-06-19      Ayakannu          Beerel      M  1988-03-23
299955  499931  1964-12-04         Remco           Rosar      M  1988-04-27
299956  499932  1962-05-19      Shigeaki        Narlikar      F  1990-09-27
299957  499933  1957-10-21       Chuanti     Riesenhuber      F  1993-05-28
299958  499934  1957-02-19         Tonia          Butner      F  1991-01-02
299959  499935  1963-12-18          Ymte        Perelgut      M  1991-09-27
299960  499936  1954-02-11     Chiranjit          Himler      M  1994-10-31
299961  499937  1955-07-28       Pantung         Litzler      F  1987-02-03
299962  499938  1960-06-30       JiYoung         Binding      F  1993-04-18
299963  499939  1952-02-22        Haldun          Zaumen      M  1988-11-27
299964  499940  1952-02-12         Yolla           Auria      M  1986-04-25
299965  499941  1956-10-16   Udaiprakash         Hockney      F  1994-02-04
299966  499942  1963-01-10         Feiyu         Sanella      F  1997-02-10
299967  499943  1956-08-04         Ziyad            Baaz      M  1987-09-09
299968  499944  1964-12-18         Bernd         Baumann      M  1988-07-03
299969  499945  1958-08-12  Sivanarayana         Haddadi      M  1987-03-02
299970  499946  1956-08-10        Barton         Soicher      F  1986-02-21
299971  499947  1960-02-06       Conrado          Koyama      F  1989-02-19
299972  499948  1953-05-24      Cordelia       Paludetto      M  1993-01-28
299973  499949  1962-10-21       Krister         Stranks      M  1987-01-31
299974  499950  1964-07-15        Weidon           Gente      F  1991-06-05
299975  499951  1962-08-17       Kasidit           Krohm      M  1985-03-17
299976  499952  1953-11-19          Aron       Lindqvist      M  1990-01-07
299977  499953  1960-09-04        Leszek       Pulkowski      M  1985-02-23
299978  499954  1961-09-24         Tuval        Tempesti      M  1990-08-09
299979  499955  1961-10-23  Kankanahalli          Zucker      M  1993-03-06
299980  499956  1959-01-08      Zhonghua          Crooks      F  1994-10-12
299981  499957  1956-10-08         Steen         Keohane      M  1987-02-25
299982  499958  1957-05-08      Srinidhi  Theuretzbacher      F  1989-12-17
299983  499959  1956-01-29       Lillian           Setiz      M  1991-11-08
299984  499960  1952-12-02        Gaetan        Veldwijk      F  1989-09-16
299985  499961  1962-10-02       Holgard          Nanard      F  1988-07-04
299986  499962  1956-03-28      Yongqiao          Dalton      M  1995-06-20
299987  499963  1962-03-14         Danny          Lenart      F  1989-08-07
299988  499964  1958-02-24         Randy          Matzov      M  1988-11-10
299989  499965  1961-12-07       Ronghao          Morrow      F  1985-05-26
299990  499966  1955-12-04       Mihalis        Crabtree      F  1985-06-13
299991  499967  1954-04-21      Bangqing          Bodoff      M  1996-08-15
299992  499968  1959-03-07    Dharmaraja            Ertl      M  1991-10-08
299993  499969  1960-09-02       Masanao          Ducloy      M  1992-02-16
299994  499970  1963-03-25         Danai         Hedayat      M  1994-08-06
299995  499971  1963-12-28           Uwe          Uludag      M  1989-02-26
299996  499972  1957-07-25        Katsuo          Leuchs      F  1989-11-23
299997  499973  1963-06-03         Lobel         Taubman      M  1994-02-01
299998  499974  1956-09-10       Shuichi          Piazza      F  1989-09-16
299999  499975  1952-11-09        Masali         Chorvat      M  1992-01-23
300000  499976  1963-08-20      Guozhong          Felder      M  1988-12-26
300001  499977  1956-06-05       Martial         Weisert      F  1996-09-17
300002  499978  1960-03-29     Chiranjit         Kuzuoka      M  1990-05-24
300003  499979  1962-10-29     Prasadram   Waleschkowski      M  1994-01-04
300004  499980  1959-06-28          Gino           Usery      M  1991-02-11
300005  499981  1955-01-02       Yunming          Mitina      F  1991-03-07
300006  499982  1954-08-25      Mohammed        Pleszkun      M  1986-02-21
300007  499983  1955-08-29           Uri          Juneja      F  1989-08-28
300008  499984  1959-08-31       Kaijung          Rodham      M  1985-09-11
300009  499985  1964-12-26          Gila     Lukaszewicz      M  1997-02-11
300010  499986  1952-07-22        Nathan           Ranta      F  1985-08-11
300011  499987  1961-09-05         Rimli          Dusink      F  1998-09-20
300012  499988  1962-09-28      Bangqing         Kleiser      F  1986-06-06
300013  499989  1954-05-26     Keiichiro       Lindqvist      M  1993-10-28
300014  499990  1963-11-03        Khaled         Kohling      M  1985-10-10
300015  499991  1962-02-26         Pohua         Sichman      F  1989-01-12
300016  499992  1960-10-12        Siamak        Salverda      F  1987-05-10
300017  499993  1963-06-04      DeForest    Mullainathan      M  1997-04-07
300018  499994  1952-02-26         Navin         Argence      F  1990-04-24
300019  499995  1958-09-24        Dekang        Lichtner      F  1993-01-12
300020  499996  1953-03-07          Zito            Baaz      M  1990-09-27
300021  499997  1961-08-03       Berhard          Lenart      M  1986-04-21
300022  499998  1956-09-05      Patricia         Breugel      M  1993-10-13
300023  499999  1958-05-01        Sachin         Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [174]:
read_titles = pd.read_sql('select * from titles;', conn)
read_titles

        emp_no               title   from_date     to_date
0        10001     Senior Engineer  1986-06-26  9999-01-01
1        10002               Staff  1996-08-03  9999-01-01
2        10003     Senior Engineer  1995-12-03  9999-01-01
3        10004            Engineer  1986-12-01  1995-12-01
4        10004     Senior Engineer  1995-12-01  9999-01-01
5        10005        Senior Staff  1996-09-12  9999-01-01
6        10005               Staff  1989-09-12  1996-09-12
7        10006     Senior Engineer  1990-08-05  9999-01-01
8        10007        Senior Staff  1996-02-11  9999-01-01
9        10007               Staff  1989-02-10  1996-02-11
10       10008  Assistant Engineer  1998-03-11  2000-07-31
11       10009  Assistant Engineer  1985-02-18  1990-02-18
12       10009            Engineer  1990-02-18  1995-02-18
13       10009     Senior Engineer  1995-02-18  9999-01-01
14       10010            Engineer  1996-11-24  9999-01-01
15       10011               Staff  1990-01-22  1996-11-09
16       10012            Engineer  1992-12-18  2000-12-18
17       10012     Senior Engineer  2000-12-18  9999-01-01
18       10013        Senior Staff  1985-10-20  9999-01-01
19       10014            Engineer  1993-12-29  9999-01-01
20       10015        Senior Staff  1992-09-19  1993-08-22
21       10016               Staff  1998-02-11  9999-01-01
22       10017        Senior Staff  2000-08-03  9999-01-01
23       10017               Staff  1993-08-03  2000-08-03
24       10018            Engineer  1987-04-03  1995-04-03
25       10018     Senior Engineer  1995-04-03  9999-01-01
26       10019               Staff  1999-04-30  9999-01-01
27       10020            Engineer  1997-12-30  9999-01-01
28       10021    Technique Leader  1988-02-10  2002-07-15
29       10022            Engineer  1999-09-03  9999-01-01
30       10023            Engineer  1999-09-27  9999-01-01
31       10024  Assistant Engineer  1998-06-14  9999-01-01
32       10025    Technique Leader  1987-08-17  1997-10-15
33       10026            Engineer  1995-03-20  2001-03-19
34       10026     Senior Engineer  2001-03-19  9999-01-01
35       10027            Engineer  1995-04-02  2001-04-01
36       10027     Senior Engineer  2001-04-01  9999-01-01
37       10028            Engineer  1991-10-22  1998-04-06
38       10029            Engineer  1991-09-18  2000-09-17
39       10029     Senior Engineer  2000-09-17  9999-01-01
40       10030            Engineer  1994-02-17  2001-02-17
41       10030     Senior Engineer  2001-02-17  9999-01-01
42       10031            Engineer  1991-09-01  1998-09-01
43       10031     Senior Engineer  1998-09-01  9999-01-01
44       10032            Engineer  1990-06-20  1995-06-20
45       10032     Senior Engineer  1995-06-20  9999-01-01
46       10033    Technique Leader  1987-03-18  1993-03-24
47       10034               Staff  1995-04-12  1999-10-31
48       10035            Engineer  1988-09-05  1996-09-05
49       10035     Senior Engineer  1996-09-05  9999-01-01
50       10036        Senior Staff  1992-04-28  9999-01-01
51       10037            Engineer  1990-12-05  1995-12-05
52       10037     Senior Engineer  1995-12-05  9999-01-01
53       10038        Senior Staff  1996-09-20  9999-01-01
54       10038               Staff  1989-09-20  1996-09-20
55       10039        Senior Staff  1997-01-18  9999-01-01
56       10039               Staff  1988-01-19  1997-01-18
57       10040            Engineer  1993-02-14  1999-02-14
58       10040     Senior Engineer  1999-02-14  9999-01-01
59       10041        Senior Staff  1998-11-12  9999-01-01
60       10041               Staff  1989-11-12  1998-11-12
61       10042        Senior Staff  2000-03-21  2000-08-10
62       10042               Staff  1993-03-21  2000-03-21
63       10043            Engineer  1990-10-20  1997-10-20
64       10043     Senior Engineer  1997-10-20  9999-01-01
65       10044    Technique Leader  1994-05-21  9999-01-01
66       10045            Engineer  1996-11-16  9999-01-01
67       10046        Senior Staff  2000-06-20  9999-01-01
68       10046               Staff  1992-06-20  2000-06-20
69       10047            Engineer  1989-03-31  1998-03-31
70       10047     Senior Engineer  1998-03-31  9999-01-01
71       10048            Engineer  1985-02-24  1987-01-27
72       10049        Senior Staff  2000-05-04  9999-01-01
73       10049               Staff  1992-05-04  2000-05-04
74       10050        Senior Staff  1999-12-25  9999-01-01
75       10050               Staff  1990-12-25  1999-12-25
76       10051            Engineer  1992-10-15  1998-10-15
77       10051     Senior Engineer  1998-10-15  9999-01-01
78       10052        Senior Staff  2002-01-31  9999-01-01
79       10052               Staff  1997-01-31  2002-01-31
80       10053        Senior Staff  1994-11-13  9999-01-01
81       10054        Senior Staff  2000-07-28  9999-01-01
82       10054               Staff  1995-07-29  2000-07-28
83       10055               Staff  1992-04-27  1995-07-22
84       10056            Engineer  1990-02-01  1999-02-01
...        ...                 ...         ...         ...
443223  499941  Assistant Engineer  1994-02-04  9999-01-01
443224  499942    Technique Leader  1998-03-28  9999-01-01
443225  499943            Engineer  1989-04-04  1997-04-03
443226  499943     Senior Engineer  1997-04-03  9999-01-01
443227  499944        Senior Staff  1992-09-10  9999-01-01
443228  499945            Engineer  1992-07-22  2001-07-22
443229  499945     Senior Engineer  2001-07-22  9999-01-01
443230  499946            Engineer  1993-12-10  2001-12-10
443231  499946     Senior Engineer  2001-12-10  9999-01-01
443232  499947            Engineer  1992-03-29  1992-07-09
443233  499948            Engineer  1999-04-09  9999-01-01
443234  499949            Engineer  1991-07-17  1997-07-16
443235  499949     Senior Engineer  1997-07-16  9999-01-01
443236  499950               Staff  1999-02-02  2000-02-23
443237  499951               Staff  1999-06-18  9999-01-01
443238  499952     Senior Engineer  1990-01-07  9999-01-01
443239  499953        Senior Staff  1994-02-23  9999-01-01
443240  499953               Staff  1985-02-23  1994-02-23
443241  499954            Engineer  1990-08-09  1995-08-09
443242  499954     Senior Engineer  1995-08-09  9999-01-01
443243  499955        Senior Staff  2000-03-06  9999-01-01
443244  499955               Staff  1993-03-06  2000-03-06
443245  499956            Engineer  1994-10-12  2001-10-12
443246  499956     Senior Engineer  2001-10-12  9999-01-01
443247  499957               Staff  1987-02-25  1992-11-28
443248  499958  Assistant Engineer  1994-09-26  1996-08-31
443249  499959            Engineer  1991-11-08  1996-11-07
443250  499959     Senior Engineer  1996-11-07  9999-01-01
443251  499960        Senior Staff  1989-09-16  9999-01-01
443252  499961            Engineer  1988-07-04  1993-07-04
443253  499961     Senior Engineer  1993-07-04  9999-01-01
443254  499962            Engineer  1995-06-20  9999-01-01
443255  499963            Engineer  1989-08-07  1996-08-07
443256  499963     Senior Engineer  1996-08-07  9999-01-01
443257  499964            Engineer  1994-09-25  2000-09-24
443258  499964     Senior Engineer  2000-09-24  9999-01-01
443259  499965        Senior Staff  1996-10-05  9999-01-01
443260  499965               Staff  1987-10-06  1996-10-05
443261  499966        Senior Staff  1990-06-13  9999-01-01
443262  499966               Staff  1985-06-13  1990-06-13
443263  499967        Senior Staff  1996-08-15  2001-02-27
443264  499968        Senior Staff  1996-10-07  9999-01-01
443265  499968               Staff  1991-10-08  1996-10-07
443266  499969               Staff  1998-07-27  9999-01-01
443267  499970               Staff  1995-01-09  9999-01-01
443268  499971            Engineer  1997-03-05  2000-12-23
443269  499972            Engineer  1989-11-23  1998-11-23
443270  499972     Senior Engineer  1998-11-23  9999-01-01
443271  499973            Engineer  1994-02-01  9999-01-01
443272  499974  Assistant Engineer  1996-12-11  9999-01-01
443273  499975               Staff  1995-11-21  1997-07-23
443274  499976        Senior Staff  1988-12-26  9999-01-01
443275  499977               Staff  1999-12-28  9999-01-01
443276  499978               Staff  1996-07-09  1997-12-14
443277  499979            Engineer  1996-08-29  9999-01-01
443278  499980        Senior Staff  1999-02-11  9999-01-01
443279  499980               Staff  1991-02-11  1999-02-11
443280  499981        Senior Staff  2000-03-06  9999-01-01
443281  499981               Staff  1991-03-07  2000-03-06
443282  499982               Staff  1999-04-08  2000-05-16
443283  499983        Senior Staff  2001-07-14  9999-01-01
443284  499983               Staff  1995-07-15  2001-07-14
443285  499984            Engineer  1989-07-30  1994-07-30
443286  499984     Senior Engineer  1994-07-30  9999-01-01
443287  499985               Staff  1997-02-11  9999-01-01
443288  499986        Senior Staff  1992-08-11  9999-01-01
443289  499986               Staff  1985-08-11  1992-08-11
443290  499987               Staff  1999-12-21  9999-01-01
443291  499988        Senior Staff  1997-07-25  2001-10-09
443292  499988               Staff  1988-07-25  1997-07-25
443293  499989        Senior Staff  1996-10-29  2001-03-07
443294  499990            Engineer  1999-10-28  9999-01-01
443295  499991               Staff  1997-02-11  9999-01-01
443296  499992        Senior Staff  1992-05-09  9999-01-01
443297  499992               Staff  1987-05-10  1992-05-09
443298  499993            Engineer  1997-04-07  9999-01-01
443299  499994            Engineer  1993-02-22  1993-10-27
443300  499995            Engineer  1997-06-02  9999-01-01
443301  499996            Engineer  1996-05-13  2002-05-13
443302  499996     Senior Engineer  2002-05-13  9999-01-01
443303  499997            Engineer  1987-08-30  1992-08-29
443304  499997     Senior Engineer  1992-08-29  9999-01-01
443305  499998        Senior Staff  1998-12-27  9999-01-01
443306  499998               Staff  1993-12-27  1998-12-27
443307  499999            Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

In [184]:
# Visualize the number of employees with each title.
employee_title_groups = pd.read_sql('select title, count(*) from titles group by title;', conn)
employee_title_groups

                title  count(*)
0  Assistant Engineer     15128
1            Engineer    115003
2             Manager        24
3     Senior Engineer     97750
4        Senior Staff     92853
5               Staff    107391
6    Technique Leader     15159

In [186]:
# Visualize how frequently employees change titles.
employee_title_changes = pd.read_sql('select emp_no, count(*) from titles group by emp_no;', conn)
employee_title_changes

        emp_no  count(*)
0        10001         1
1        10002         1
2        10003         1
3        10004         2
4        10005         2
5        10006         1
6        10007         2
7        10008         1
8        10009         3
9        10010         1
10       10011         1
11       10012         2
12       10013         1
13       10014         1
14       10015         1
15       10016         1
16       10017         2
17       10018         2
18       10019         1
19       10020         1
20       10021         1
21       10022         1
22       10023         1
23       10024         1
24       10025         1
25       10026         2
26       10027         2
27       10028         1
28       10029         2
29       10030         2
30       10031         2
31       10032         2
32       10033         1
33       10034         1
34       10035         2
35       10036         1
36       10037         2
37       10038         2
38       10039         2
39       10040         2
40       10041         2
41       10042         2
42       10043         2
43       10044         1
44       10045         1
45       10046         2
46       10047         2
47       10048         1
48       10049         2
49       10050         2
50       10051         2
51       10052         2
52       10053         1
53       10054         2
54       10055         1
55       10056         2
56       10057         2
57       10058         1
58       10059         1
59       10060         2
60       10061         1
61       10062         2
62       10063         1
63       10064         1
64       10065         1
65       10066         3
66       10067         2
67       10068         2
68       10069         1
69       10070         1
70       10071         1
71       10072         2
72       10073         1
73       10074         1
74       10075         1
75       10076         1
76       10077         1
77       10078         1
78       10079         1
79       10080         2
80       10081         2
81       10082         1
82       10083         2
83       10084         2
84       10085         1
...        ...       ...
299939  499915         2
299940  499916         1
299941  499917         2
299942  499918         1
299943  499919         1
299944  499920         2
299945  499921         1
299946  499922         2
299947  499923         1
299948  499924         1
299949  499925         1
299950  499926         1
299951  499927         1
299952  499928         2
299953  499929         1
299954  499930         2
299955  499931         1
299956  499932         2
299957  499933         2
299958  499934         2
299959  499935         2
299960  499936         1
299961  499937         2
299962  499938         1
299963  499939         1
299964  499940         1
299965  499941         1
299966  499942         1
299967  499943         2
299968  499944         1
299969  499945         2
299970  499946         2
299971  499947         1
299972  499948         1
299973  499949         2
299974  499950         1
299975  499951         1
299976  499952         1
299977  499953         2
299978  499954         2
299979  499955         2
299980  499956         2
299981  499957         1
299982  499958         1
299983  499959         2
299984  499960         1
299985  499961         2
299986  499962         1
299987  499963         2
299988  499964         2
299989  499965         2
299990  499966         2
299991  499967         1
299992  499968         2
299993  499969         1
299994  499970         1
299995  499971         1
299996  499972         2
299997  499973         1
299998  499974         1
299999  499975         1
300000  499976         1
300001  499977         1
300002  499978         1
300003  499979         1
300004  499980         2
300005  499981         2
300006  499982         1
300007  499983         2
300008  499984         2
300009  499985         1
300010  499986         2
300011  499987         1
300012  499988         2
300013  499989         1
300014  499990         1
300015  499991         1
300016  499992         2
300017  499993         1
300018  499994         1
300019  499995         1
300020  499996         2
300021  499997         2
300022  499998         2
300023  499999         1

[300024 rows x 2 columns]

In [193]:
# Use the .join method to join the employees and titles data frames together
employees_titles_joined = pd.read_sql('select * from employees as e join titles as t on t.emp_no = e.emp_no;', conn)
employees_titles_joined

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,title,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,Senior Engineer,1986-06-26,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,10002,Staff,1996-08-03,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,10003,Senior Engineer,1995-12-03,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,10004,Engineer,1986-12-01,1995-12-01
4,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,10004,Senior Engineer,1995-12-01,9999-01-01
5,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,10005,Senior Staff,1996-09-12,9999-01-01
6,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,10005,Staff,1989-09-12,1996-09-12
7,10006,1953-04-20,Anneke,Preusig,F,1989-06-02,10006,Senior Engineer,1990-08-05,9999-01-01
8,10007,1957-05-23,Tzvetan,Zielinski,F,1989-02-10,10007,Senior Staff,1996-02-11,9999-01-01
9,10007,1957-05-23,Tzvetan,Zielinski,F,1989-02-10,10007,Staff,1989-02-10,1996-02-11
10,10008,1958-02-19,Saniya,Kalloufi,M,1994-09-15,10008,Assistant Engineer,1998-03-11,2000-07-31
11,10009,1952-04-19,Sumant,Peac,F,1985-02-18,10009,Assistant Engineer,1985-02-18,1990-02-18
12,10009,1952-04-19,Sumant,Peac,F,1985-02-18,10009,Engineer,1990-02-18,1995-02-18
13,10009,1952-04-19,Sumant,Peac,F,1985-02-18,10009,Senior Engineer,1995-02-18,9999-01-01
14,10010,1963-06-01,Duangkaew,Piveteau,F,1989-08-24,10010,Engineer,1996-11-24,9999-01-01
15,10011,1953-11-07,Mary,Sluis,F,1990-01-22,10011,Staff,1990-01-22,1996-11-09
16,10012,1960-10-04,Patricio,Bridgland,M,1992-12-18,10012,Engineer,1992-12-18,2000-12-18
17,10012,1960-10-04,Patricio,Bridgland,M,1992-12-18,10012,Senior Engineer,2000-12-18,9999-01-01
18,10013,1963-06-07,Eberhardt,Terkki,M,1985-10-20,10013,Senior Staff,1985-10-20,9999-01-01
19,10014,1956-02-12,Berni,Genin,M,1987-03-11,10014,Engineer,1993-12-29,9999-01-01
20,10015,1959-08-19,Guoxiang,Nooteboom,M,1987-07-02,10015,Senior Staff,1992-09-19,1993-08-22
21,10016,1961-05-02,Kazuhito,Cappelletti,M,1995-01-27,10016,Staff,1998-02-11,9999-01-01
22,10017,1958-07-06,Cristinel,Bouloucos,F,1993-08-03,10017,Senior Staff,2000-08-03,9999-01-01
23,10017,1958-07-06,Cristinel,Bouloucos,F,1993-08-03,10017,Staff,1993-08-03,2000-08-03
24,10018,1954-06-19,Kazuhide,Peha,F,1987-04-03,10018,Engineer,1987-04-03,1995-04-03
25,10018,1954-06-19,Kazuhide,Peha,F,1987-04-03,10018,Senior Engineer,1995-04-03,9999-01-01
26,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,Staff,1999-04-30,9999-01-01
27,10020,1952-12-24,Mayuko,Warwick,M,1991-01-26,10020,Engineer,1997-12-30,9999-01-01
28,10021,1960-02-20,Ramzi,Erde,M,1988-02-10,10021,Technique Leader,1988-02-10,2002-07-15
29,10022,1952-07-08,Shahaf,Famili,M,1995-08-22,10022,Engineer,1999-09-03,9999-01-01
30,10023,1953-09-29,Bojan,Montemayor,F,1989-12-17,10023,Engineer,1999-09-27,9999-01-01
31,10024,1958-09-05,Suzette,Pettey,F,1997-05-19,10024,Assistant Engineer,1998-06-14,9999-01-01
32,10025,1958-10-31,Prasadram,Heyers,M,1987-08-17,10025,Technique Leader,1987-08-17,1997-10-15
33,10026,1953-04-03,Yongqiao,Berztiss,M,1995-03-20,10026,Engineer,1995-03-20,2001-03-19
34,10026,1953-04-03,Yongqiao,Berztiss,M,1995-03-20,10026,Senior Engineer,2001-03-19,9999-01-01
35,10027,1962-07-10,Divier,Reistad,F,1989-07-07,10027,Engineer,1995-04-02,2001-04-01
36,10027,1962-07-10,Divier,Reistad,F,1989-07-07,10027,Senior Engineer,2001-04-01,9999-01-01
37,10028,1963-11-26,Domenick,Tempesti,M,1991-10-22,10028,Engineer,1991-10-22,1998-04-06
38,10029,1956-12-13,Otmar,Herbst,M,1985-11-20,10029,Engineer,1991-09-18,2000-09-17
39,10029,1956-12-13,Otmar,Herbst,M,1985-11-20,10029,Senior Engineer,2000-09-17,9999-01-01
40,10030,1958-07-14,Elvis,Demeyer,M,1994-02-17,10030,Engineer,1994-02-17,2001-02-17
41,10030,1958-07-14,Elvis,Demeyer,M,1994-02-17,10030,Senior Engineer,2001-02-17,9999-01-01
42,10031,1959-01-27,Karsten,Joslin,M,1991-09-01,10031,Engineer,1991-09-01,1998-09-01
43,10031,1959-01-27,Karsten,Joslin,M,1991-09-01,10031,Senior Engineer,1998-09-01,9999-01-01
44,10032,1960-08-09,Jeong,Reistad,F,1990-06-20,10032,Engineer,1990-06-20,1995-06-20
45,10032,1960-08-09,Jeong,Reistad,F,1990-06-20,10032,Senior Engineer,1995-06-20,9999-01-01
46,10033,1956-11-14,Arif,Merlo,M,1987-03-18,10033,Technique Leader,1987-03-18,1993-03-24
47,10034,1962-12-29,Bader,Swan,M,1988-09-21,10034,Staff,1995-04-12,1999-10-31
48,10035,1953-02-08,Alain,Chappelet,M,1988-09-05,10035,Engineer,1988-09-05,1996-09-05
49,10035,1953-02-08,Alain,Chappelet,M,1988-09-05,10035,Senior Engineer,1996-09-05,9999-01-01
50,10036,1959-08-10,Adamantios,Portugali,M,1992-01-03,10036,Senior Staff,1992-04-28,9999-01-01
51,10037,1963-07-22,Pradeep,Makrucki,M,1990-12-05,10037,Engineer,1990-12-05,1995-12-05
52,10037,1963-07-22,Pradeep,Makrucki,M,1990-12-05,10037,Senior Engineer,1995-12-05,9999-01-01
53,10038,1960-07-20,Huan,Lortz,M,1989-09-20,10038,Senior Staff,1996-09-20,9999-01-01
54,10038,1960-07-20,Huan,Lortz,M,1989-09-20,10038,Staff,1989-09-20,1996-09-20
55,10039,1959-10-01,Alejandro,Brender,M,1988-01-19,10039,Senior Staff,1997-01-18,9999-01-01
56,10039,1959-10-01,Alejandro,Brender,M,1988-01-19,10039,Staff,1988-01-19,1997-01-18
57,10040,1959-09-13,Weiyi,Meriste,F,1993-02-14,10040,Engineer,1993-02-14,1999-02-14
58,10040,1959-09-13,Weiyi,Meriste,F,1993-02-14,10040,Senior Engineer,1999-02-14,9999-01-01
59,10041,1959-08-27,Uri,Lenart,F,1989-11-12,10041,Senior Staff,1998-11-12,9999-01-01
60,10041,1959-08-27,Uri,Lenart,F,1989-11-12,10041,Staff,1989-11-12,1998-11-12
61,10042,1956-02-26,Magy,Stamatiou,F,1993-03-21,10042,Senior Staff,2000-03-21,2000-08-10
62,10042,1956-02-26,Magy,Stamatiou,F,1993-03-21,10042,Staff,1993-03-21,2000-03-21
63,10043,1960-09-19,Yishay,Tzvieli,M,1990-10-20,10043,Engineer,1990-10-20,1997-10-20
64,10043,1960-09-19,Yishay,Tzvieli,M,1990-10-20,10043,Senior Engineer,1997-10-20,9999-01-01
65,10044,1961-09-21,Mingsen,Casley,F,1994-05-21,10044,Technique Leader,1994-05-21,9999-01-01
66,10045,1957-08-14,Moss,Shanbhogue,M,1989-09-02,10045,Engineer,1996-11-16,9999-01-01
67,10046,1960-07-23,Lucien,Rosenbaum,M,1992-06-20,10046,Senior Staff,2000-06-20,9999-01-01
68,10046,1960-07-23,Lucien,Rosenbaum,M,1992-06-20,10046,Staff,1992-06-20,2000-06-20
69,10047,1952-06-29,Zvonko,Nyanchama,M,1989-03-31,10047,Engineer,1989-03-31,1998-03-31
70,10047,1952-06-29,Zvonko,Nyanchama,M,1989-03-31,10047,Senior Engineer,1998-03-31,9999-01-01
71,10048,1963-07-11,Florian,Syrotiuk,M,1985-02-24,10048,Engineer,1985-02-24,1987-01-27
72,10049,1961-04-24,Basil,Tramer,F,1992-05-04,10049,Senior Staff,2000-05-04,9999-01-01
73,10049,1961-04-24,Basil,Tramer,F,1992-05-04,10049,Staff,1992-05-04,2000-05-04
74,10050,1958-05-21,Yinghua,Dredge,M,1990-12-25,10050,Senior Staff,1999-12-25,9999-01-01
75,10050,1958-05-21,Yinghua,Dredge,M,1990-12-25,10050,Staff,1990-12-25,1999-12-25
76,10051,1953-07-28,Hidefumi,Caine,M,1992-10-15,10051,Engineer,1992-10-15,1998-10-15
77,10051,1953-07-28,Hidefumi,Caine,M,1992-10-15,10051,Senior Engineer,1998-10-15,9999-01-01
78,10052,1961-02-26,Heping,Nitsch,M,1988-05-21,10052,Senior Staff,2002-01-31,9999-01-01
79,10052,1961-02-26,Heping,Nitsch,M,1988-05-21,10052,Staff,1997-01-31,2002-01-31
80,10053,1954-09-13,Sanjiv,Zschoche,F,1986-02-04,10053,Senior Staff,1994-11-13,9999-01-01
81,10054,1957-04-04,Mayumi,Schueller,M,1995-03-13,10054,Senior Staff,2000-07-28,9999-01-01
82,10054,1957-04-04,Mayumi,Schueller,M,1995-03-13,10054,Staff,1995-07-29,2000-07-28
83,10055,1956-06-06,Georgy,Dredge,M,1992-04-27,10055,Staff,1992-04-27,1995-07-22
84,10056,1961-09-01,Brendon,Bernini,F,1990-02-01,10056,Engineer,1990-02-01,1999-02-01
...,...,...,...,...,...,...,...,...,...,...
443223,499941,1956-10-16,Udaiprakash,Hockney,F,1994-02-04,499941,Assistant Engineer,1994-02-04,9999-01-01
443224,499942,1963-01-10,Feiyu,Sanella,F,1997-02-10,499942,Technique Leader,1998-03-28,9999-01-01
443225,499943,1956-08-04,Ziyad,Baaz,M,1987-09-09,499943,Engineer,1989-04-04,1997-04-03
443226,499943,1956-08-04,Ziyad,Baaz,M,1987-09-09,499943,Senior Engineer,1997-04-03,9999-01-01
443227,499944,1964-12-18,Bernd,Baumann,M,1988-07-03,499944,Senior Staff,1992-09-10,9999-01-01
443228,499945,1958-08-12,Sivanarayana,Haddadi,M,1987-03-02,499945,Engineer,1992-07-22,2001-07-22
443229,499945,1958-08-12,Sivanarayana,Haddadi,M,1987-03-02,499945,Senior Engineer,2001-07-22,9999-01-01
443230,499946,1956-08-10,Barton,Soicher,F,1986-02-21,499946,Engineer,1993-12-10,2001-12-10
443231,499946,1956-08-10,Barton,Soicher,F,1986-02-21,499946,Senior Engineer,2001-12-10,9999-01-01
443232,499947,1960-02-06,Conrado,Koyama,F,1989-02-19,499947,Engineer,1992-03-29,1992-07-09
443233,499948,1953-05-24,Cordelia,Paludetto,M,1993-01-28,499948,Engineer,1999-04-09,9999-01-01
443234,499949,1962-10-21,Krister,Stranks,M,1987-01-31,499949,Engineer,1991-07-17,1997-07-16
443235,499949,1962-10-21,Krister,Stranks,M,1987-01-31,499949,Senior Engineer,1997-07-16,9999-01-01
443236,499950,1964-07-15,Weidon,Gente,F,1991-06-05,499950,Staff,1999-02-02,2000-02-23
443237,499951,1962-08-17,Kasidit,Krohm,M,1985-03-17,499951,Staff,1999-06-18,9999-01-01
443238,499952,1953-11-19,Aron,Lindqvist,M,1990-01-07,499952,Senior Engineer,1990-01-07,9999-01-01
443239,499953,1960-09-04,Leszek,Pulkowski,M,1985-02-23,499953,Senior Staff,1994-02-23,9999-01-01
443240,499953,1960-09-04,Leszek,Pulkowski,M,1985-02-23,499953,Staff,1985-02-23,1994-02-23
443241,499954,1961-09-24,Tuval,Tempesti,M,1990-08-09,499954,Engineer,1990-08-09,1995-08-09
443242,499954,1961-09-24,Tuval,Tempesti,M,1990-08-09,499954,Senior Engineer,1995-08-09,9999-01-01
443243,499955,1961-10-23,Kankanahalli,Zucker,M,1993-03-06,499955,Senior Staff,2000-03-06,9999-01-01
443244,499955,1961-10-23,Kankanahalli,Zucker,M,1993-03-06,499955,Staff,1993-03-06,2000-03-06
443245,499956,1959-01-08,Zhonghua,Crooks,F,1994-10-12,499956,Engineer,1994-10-12,2001-10-12
443246,499956,1959-01-08,Zhonghua,Crooks,F,1994-10-12,499956,Senior Engineer,2001-10-12,9999-01-01
443247,499957,1956-10-08,Steen,Keohane,M,1987-02-25,499957,Staff,1987-02-25,1992-11-28
443248,499958,1957-05-08,Srinidhi,Theuretzbacher,F,1989-12-17,499958,Assistant Engineer,1994-09-26,1996-08-31
443249,499959,1956-01-29,Lillian,Setiz,M,1991-11-08,499959,Engineer,1991-11-08,1996-11-07
443250,499959,1956-01-29,Lillian,Setiz,M,1991-11-08,499959,Senior Engineer,1996-11-07,9999-01-01
443251,499960,1952-12-02,Gaetan,Veldwijk,F,1989-09-16,499960,Senior Staff,1989-09-16,9999-01-01
443252,499961,1962-10-02,Holgard,Nanard,F,1988-07-04,499961,Engineer,1988-07-04,1993-07-04
443253,499961,1962-10-02,Holgard,Nanard,F,1988-07-04,499961,Senior Engineer,1993-07-04,9999-01-01
443254,499962,1956-03-28,Yongqiao,Dalton,M,1995-06-20,499962,Engineer,1995-06-20,9999-01-01
443255,499963,1962-03-14,Danny,Lenart,F,1989-08-07,499963,Engineer,1989-08-07,1996-08-07
443256,499963,1962-03-14,Danny,Lenart,F,1989-08-07,499963,Senior Engineer,1996-08-07,9999-01-01
443257,499964,1958-02-24,Randy,Matzov,M,1988-11-10,499964,Engineer,1994-09-25,2000-09-24
443258,499964,1958-02-24,Randy,Matzov,M,1988-11-10,499964,Senior Engineer,2000-09-24,9999-01-01
443259,499965,1961-12-07,Ronghao,Morrow,F,1985-05-26,499965,Senior Staff,1996-10-05,9999-01-01
443260,499965,1961-12-07,Ronghao,Morrow,F,1985-05-26,499965,Staff,1987-10-06,1996-10-05
443261,499966,1955-12-04,Mihalis,Crabtree,F,1985-06-13,499966,Senior Staff,1990-06-13,9999-01-01
443262,499966,1955-12-04,Mihalis,Crabtree,F,1985-06-13,499966,Staff,1985-06-13,1990-06-13
443263,499967,1954-04-21,Bangqing,Bodoff,M,1996-08-15,499967,Senior Staff,1996-08-15,2001-02-27
443264,499968,1959-03-07,Dharmaraja,Ertl,M,1991-10-08,499968,Senior Staff,1996-10-07,9999-01-01
443265,499968,1959-03-07,Dharmaraja,Ertl,M,1991-10-08,499968,Staff,1991-10-08,1996-10-07
443266,499969,1960-09-02,Masanao,Ducloy,M,1992-02-16,499969,Staff,1998-07-27,9999-01-01
443267,499970,1963-03-25,Danai,Hedayat,M,1994-08-06,499970,Staff,1995-01-09,9999-01-01
443268,499971,1963-12-28,Uwe,Uludag,M,1989-02-26,499971,Engineer,1997-03-05,2000-12-23
443269,499972,1957-07-25,Katsuo,Leuchs,F,1989-11-23,499972,Engineer,1989-11-23,1998-11-23
443270,499972,1957-07-25,Katsuo,Leuchs,F,1989-11-23,499972,Senior Engineer,1998-11-23,9999-01-01
443271,499973,1963-06-03,Lobel,Taubman,M,1994-02-01,499973,Engineer,1994-02-01,9999-01-01
443272,499974,1956-09-10,Shuichi,Piazza,F,1989-09-16,499974,Assistant Engineer,1996-12-11,9999-01-01
443273,499975,1952-11-09,Masali,Chorvat,M,1992-01-23,499975,Staff,1995-11-21,1997-07-23
443274,499976,1963-08-20,Guozhong,Felder,M,1988-12-26,499976,Senior Staff,1988-12-26,9999-01-01
443275,499977,1956-06-05,Martial,Weisert,F,1996-09-17,499977,Staff,1999-12-28,9999-01-01
443276,499978,1960-03-29,Chiranjit,Kuzuoka,M,1990-05-24,499978,Staff,1996-07-09,1997-12-14
443277,499979,1962-10-29,Prasadram,Waleschkowski,M,1994-01-04,499979,Engineer,1996-08-29,9999-01-01
443278,499980,1959-06-28,Gino,Usery,M,1991-02-11,499980,Senior Staff,1999-02-11,9999-01-01
443279,499980,1959-06-28,Gino,Usery,M,1991-02-11,499980,Staff,1991-02-11,1999-02-11
443280,499981,1955-01-02,Yunming,Mitina,F,1991-03-07,499981,Senior Staff,2000-03-06,9999-01-01
443281,499981,1955-01-02,Yunming,Mitina,F,1991-03-07,499981,Staff,1991-03-07,2000-03-06
443282,499982,1954-08-25,Mohammed,Pleszkun,M,1986-02-21,499982,Staff,1999-04-08,2000-05-16
443283,499983,1955-08-29,Uri,Juneja,F,1989-08-28,499983,Senior Staff,2001-07-14,9999-01-01
443284,499983,1955-08-29,Uri,Juneja,F,1989-08-28,499983,Staff,1995-07-15,2001-07-14
443285,499984,1959-08-31,Kaijung,Rodham,M,1985-09-11,499984,Engineer,1989-07-30,1994-07-30
443286,499984,1959-08-31,Kaijung,Rodham,M,1985-09-11,499984,Senior Engineer,1994-07-30,9999-01-01
443287,499985,1964-12-26,Gila,Lukaszewicz,M,1997-02-11,499985,Staff,1997-02-11,9999-01-01
443288,499986,1952-07-22,Nathan,Ranta,F,1985-08-11,499986,Senior Staff,1992-08-11,9999-01-01
443289,499986,1952-07-22,Nathan,Ranta,F,1985-08-11,499986,Staff,1985-08-11,1992-08-11
443290,499987,1961-09-05,Rimli,Dusink,F,1998-09-20,499987,Staff,1999-12-21,9999-01-01
443291,499988,1962-09-28,Bangqing,Kleiser,F,1986-06-06,499988,Senior Staff,1997-07-25,2001-10-09
443292,499988,1962-09-28,Bangqing,Kleiser,F,1986-06-06,499988,Staff,1988-07-25,1997-07-25
443293,499989,1954-05-26,Keiichiro,Lindqvist,M,1993-10-28,499989,Senior Staff,1996-10-29,2001-03-07
443294,499990,1963-11-03,Khaled,Kohling,M,1985-10-10,499990,Engineer,1999-10-28,9999-01-01
443295,499991,1962-02-26,Pohua,Sichman,F,1989-01-12,499991,Staff,1997-02-11,9999-01-01
443296,499992,1960-10-12,Siamak,Salverda,F,1987-05-10,499992,Senior Staff,1992-05-09,9999-01-01
443297,499992,1960-10-12,Siamak,Salverda,F,1987-05-10,499992,Staff,1987-05-10,1992-05-09
443298,499993,1963-06-04,DeForest,Mullainathan,M,1997-04-07,499993,Engineer,1997-04-07,9999-01-01
443299,499994,1952-02-26,Navin,Argence,F,1990-04-24,499994,Engineer,1993-02-22,1993-10-27
443300,499995,1958-09-24,Dekang,Lichtner,F,1993-01-12,499995,Engineer,1997-06-02,9999-01-01
443301,499996,1953-03-07,Zito,Baaz,M,1990-09-27,499996,Engineer,1996-05-13,2002-05-13
443302,499996,1953-03-07,Zito,Baaz,M,1990-09-27,499996,Senior Engineer,2002-05-13,9999-01-01
443303,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,499997,Engineer,1987-08-30,1992-08-29
443304,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,499997,Senior Engineer,1992-08-29,9999-01-01
443305,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,499998,Senior Staff,1998-12-27,9999-01-01
443306,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,499998,Staff,1993-12-27,1998-12-27
443307,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,499999,Engineer,1997-11-30,9999-01-01

In [194]:
# For each title, find the hire date of the employee that was hired most recently with that title.
most_recent_hire_by_title = pd.read_sql('select title, max(hire_date) from titles as t join employees as e on t.emp_no = e.emp_no group by title;', conn)
most_recent_hire_by_title

                title max(hire_date)
0  Assistant Engineer     1999-12-24
1            Engineer     2000-01-28
2             Manager     1992-02-05
3     Senior Engineer     2000-01-01
4        Senior Staff     2000-01-13
5               Staff     2000-01-12
6    Technique Leader     1999-12-31

In [197]:
chip_conn = get_db_url('chipotle', user, host, password)

In [201]:
chip = pd.read_sql('select * from orders;', chip_conn)
chip

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98
5,6,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",$10.98
6,7,3,1,Side of Chips,nan,$1.69
7,8,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour...",$11.75
8,9,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
9,10,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
10,11,5,1,Chips and Guacamole,nan,$4.45
11,12,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream]]",$8.75
12,13,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75
13,14,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole]]",$11.25
14,15,7,1,Chips and Guacamole,nan,$4.45
15,16,8,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
16,17,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Cheese, Sour Cream]]",$8.49
17,18,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]",$8.49
18,19,9,2,Canned Soda,[Sprite],$2.18
19,20,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Sour Cream, Cheese, Lettu...",$8.75
20,21,10,1,Chips and Guacamole,nan,$4.45
21,22,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili...",$8.99
22,23,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,24,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans...",$10.98
24,25,12,1,Izze,[Grapefruit],$3.39
25,26,13,1,Chips and Fresh Tomato Salsa,nan,$2.39
26,27,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour C...",$8.49
27,28,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Bea...",$8.99
28,29,14,1,Canned Soda,[Dr. Pepper],$1.09
29,30,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]",$8.49
30,31,15,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
31,32,16,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, S...",$8.99
32,33,16,1,Side of Chips,nan,$1.69
33,34,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cre...",$8.99
34,35,17,1,Bottled Water,nan,$1.09
35,36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",$8.75
36,37,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
37,38,18,1,Chips and Guacamole,nan,$4.45
38,39,18,1,Chips and Tomatillo Green Chili Salsa,nan,$2.95
39,40,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, ...",$11.75
40,41,19,1,Chips,nan,$2.15
41,42,20,1,Chips and Guacamole,nan,$4.45
42,43,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.25
43,44,20,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.75
44,45,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75
45,46,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Gu...",$10.98
46,47,21,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajita Veggies, Cheese]]",$8.99
47,48,21,1,Izze,[Blackberry],$3.39
48,49,22,1,Steak Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Sa...",$8.99
49,50,22,1,Chips and Guacamole,nan,$3.99
50,51,23,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",$8.99
51,52,23,2,Canned Soda,[Mountain Dew],$2.18
52,53,24,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Fajita Veggies, Cheese, Sour C...",$10.98
53,54,24,1,Canned Soda,[Sprite],$1.09
54,55,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream]]",$8.99
55,56,25,1,Chips and Fresh Tomato Salsa,nan,$2.39
56,57,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Lettuce]]",$9.25
57,58,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream,...",$11.25
58,59,27,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, ...",$11.75
59,60,27,1,Chips,nan,$2.15
60,61,28,1,Chips and Guacamole,nan,$4.45
61,62,28,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Cheese]",$9.25
62,63,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacam...",$11.25
63,64,28,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75
64,65,29,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cre...",$8.99
65,66,29,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese, Sour Cream, Lettuce]]",$8.99
66,67,30,1,Izze,[Blackberry],$3.39
67,68,30,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese]]",$8.99
68,69,30,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Gu...",$10.98
69,70,31,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Black Beans, Sour Cream]]",$8.99
70,71,31,1,Side of Chips,nan,$1.69
71,72,32,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]",$8.99
72,73,32,1,Chips and Guacamole,nan,$3.99
73,74,33,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75
74,75,33,1,Chips and Guacamole,nan,$4.45
75,76,34,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream, Lettuce]]",$8.75
76,77,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Lettuce]]",$8.75
77,78,34,1,Chips,nan,$2.15
78,79,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75
79,80,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce, Guacamole]]",$11.25
80,81,35,1,Chips,nan,$2.15
81,82,36,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
82,83,36,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75
83,84,37,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese]]",$8.75
84,85,37,1,Steak Soft Tacos,[Tomatillo Red Chili Salsa],$9.25
...,...,...,...,...,...,...
4537,4538,1804,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75
4538,4539,1804,1,Canned Soft Drink,[Coke],$1.25
4539,4540,1804,1,Chips and Guacamole,nan,$4.45
4540,4541,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Guacamole...",$11.25
4541,4542,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Crea...",$8.75
4542,4543,1806,1,Bottled Water,nan,$1.50
4543,4544,1806,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75
4544,4545,1806,1,Bottled Water,nan,$1.50
4545,4546,1806,1,Canned Soft Drink,[Diet Coke],$1.25
4546,4547,1807,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$9.25
4547,4548,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Cheese]]",$9.39
4548,4549,1808,1,Chips and Guacamole,nan,$4.45
4549,4550,1808,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Cheese, Sour Cream]]",$9.25
4550,4551,1809,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Cheese, Sour Cream]]",$8.75
4551,4552,1809,1,Chips and Guacamole,nan,$4.45
4552,4553,1809,1,Canned Soft Drink,[Sprite],$1.25
4553,4554,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour Cream, Cheese, Guacamole]]",$11.25
4554,4555,1810,1,Steak Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4555,4556,1811,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]]",$8.75
4556,4557,1811,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Crea...",$11.25
4557,4558,1811,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream,...",$9.25
4558,4559,1812,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75
4559,4560,1812,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Guacamole, Lettuce]]",$11.25
4560,4561,1812,2,Canned Soft Drink,[Coke],$2.50
4561,4562,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$17.50
4562,4563,1814,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream]]",$9.25
4563,4564,1814,1,Chips and Guacamole,nan,$4.45
4564,4565,1815,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Guacamole, Lettuce]]",$11.25
4565,4566,1815,1,Canned Soft Drink,[Sprite],$1.25
4566,4567,1816,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Pinto Beans, Cheese, Sour Cream]]",$8.75
4567,4568,1816,1,Chips and Guacamole,nan,$4.45
4568,4569,1817,1,Bottled Water,nan,$1.50
4569,4570,1817,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75
4570,4571,1817,1,Bottled Water,nan,$1.50
4571,4572,1817,1,Canned Soft Drink,[Diet Coke],$1.25
4572,4573,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]",$9.39
4573,4574,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75
4574,4575,1819,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce]]",$8.75
4575,4576,1819,1,Chips and Guacamole,nan,$4.45
4576,4577,1820,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Guacamole]]",$11.25
4577,4578,1820,1,Canned Soft Drink,[Coke],$1.25
4578,4579,1821,1,Carnitas Burrito,"[Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Sour Cream]]",$9.25
4579,4580,1821,1,Chips and Guacamole,nan,$4.45
4580,4581,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Guacamole]]",$11.25
4581,4582,1822,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettu...",$8.75
4582,4583,1822,2,Bottled Water,nan,$3.00
4583,4584,1823,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Lettuce]]",$8.75
4584,4585,1823,1,Chips,nan,$2.15
4585,4586,1823,1,Canned Soft Drink,[Diet Coke],$1.25
4586,4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.25
4587,4588,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]",$11.25
4588,4589,1824,1,Chips and Guacamole,nan,$4.45
4589,4590,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.25
4590,4591,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Lettuce, Guacamole]]",$11.25
4591,4592,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce]]",$8.75
4592,4593,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Sour Cream, Cheese,...",$11.75
4593,4594,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4594,4595,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4595,4596,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Beans]]",$8.75
4596,4597,1826,1,Chips and Guacamole,nan,$4.45
4597,4598,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,4599,1826,1,Bottled Water,nan,$1.50
4599,4600,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,4601,1827,1,Chips and Guacamole,nan,$4.45
4601,4602,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,4604,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,4605,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75
4605,4606,1828,1,Chips and Guacamole,nan,$4.45
4606,4607,1828,1,Canned Soft Drink,[Coke],$1.25
4607,4608,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, Sour Cream, Guacamole]]",$11.75
4608,4609,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, ...",$11.25
4609,4610,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,4611,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4611,4612,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]",$11.25
4612,4613,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$9.25
4613,4614,1831,1,Chips,nan,$2.15
4614,4615,1831,1,Bottled Water,nan,$1.50
4615,4616,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,4617,1832,1,Chips and Guacamole,nan,$4.45
4617,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4618,4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4619,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]",$11.25
4620,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]",$8.75
4621,4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75

In [207]:
# What is the total price for each order?
item_price_list = chip.item_price
item_price_list
item_price_float = [float(number.replace(',','')[1:]) for number in item_price_list]
item_price_float
chip['price_per_item'] = item_price_float * chip.quantity
chip

,id,order_id,quantity,item_name,choice_description,item_price,item_prices,price_per_item
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39,2.39,2.39
1,2,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39,2.39,2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98,33.96,33.96
5,6,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",$10.98,10.98,10.98
6,7,3,1,Side of Chips,nan,$1.69,1.69,1.69
7,8,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour...",$11.75,11.75,11.75
8,9,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25,9.25,9.25
9,10,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25,9.25,9.25
10,11,5,1,Chips and Guacamole,nan,$4.45,4.45,4.45
11,12,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream]]",$8.75,8.75,8.75
12,13,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75,8.75,8.75
13,14,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole]]",$11.25,11.25,11.25
14,15,7,1,Chips and Guacamole,nan,$4.45,4.45,4.45
15,16,8,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39,2.39,2.39
16,17,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Cheese, Sour Cream]]",$8.49,8.49,8.49
17,18,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]",$8.49,8.49,8.49
18,19,9,2,Canned Soda,[Sprite],$2.18,4.36,4.36
19,20,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Sour Cream, Cheese, Lettu...",$8.75,8.75,8.75
20,21,10,1,Chips and Guacamole,nan,$4.45,4.45,4.45
21,22,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili...",$8.99,8.99,8.99
22,23,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39,3.39
23,24,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans...",$10.98,10.98,10.98
24,25,12,1,Izze,[Grapefruit],$3.39,3.39,3.39
25,26,13,1,Chips and Fresh Tomato Salsa,nan,$2.39,2.39,2.39
26,27,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour C...",$8.49,8.49,8.49
27,28,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Bea...",$8.99,8.99,8.99
28,29,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
29,30,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]",$8.49,8.49,8.49
30,31,15,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39,2.39,2.39
31,32,16,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, S...",$8.99,8.99,8.99
32,33,16,1,Side of Chips,nan,$1.69,1.69,1.69
33,34,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cre...",$8.99,8.99,8.99
34,35,17,1,Bottled Water,nan,$1.09,1.09,1.09
35,36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",$8.75,8.75,8.75
36,37,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75,8.75
37,38,18,1,Chips and Guacamole,nan,$4.45,4.45,4.45
38,39,18,1,Chips and Tomatillo Green Chili Salsa,nan,$2.95,2.95,2.95
39,40,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, ...",$11.75,11.75,11.75
40,41,19,1,Chips,nan,$2.15,2.15,2.15
41,42,20,1,Chips and Guacamole,nan,$4.45,4.45,4.45
42,43,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.25,11.25,11.25
43,44,20,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.75,11.75,11.75
44,45,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75,8.75,8.75
45,46,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Gu...",$10.98,10.98,10.98
46,47,21,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajita Veggies, Cheese]]",$8.99,8.99,8.99
47,48,21,1,Izze,[Blackberry],$3.39,3.39,3.39
48,49,22,1,Steak Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Sa...",$8.99,8.99,8.99
49,50,22,1,Chips and Guacamole,nan,$3.99,3.99,3.99
50,51,23,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",$8.99,8.99,8.99
51,52,23,2,Canned Soda,[Mountain Dew],$2.18,4.36,4.36
52,53,24,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Fajita Veggies, Cheese, Sour C...",$10.98,10.98,10.98
53,54,24,1,Canned Soda,[Sprite],$1.09,1.09,1.09
54,55,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream]]",$8.99,8.99,8.99
55,56,25,1,Chips and Fresh Tomato Salsa,nan,$2.39,2.39,2.39
56,57,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Lettuce]]",$9.25,9.25,9.25
57,58,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream,...",$11.25,11.25,11.25
58,59,27,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, ...",$11.75,11.75,11.75
59,60,27,1,Chips,nan,$2.15,2.15,2.15
60,61,28,1,Chips and Guacamole,nan,$4.45,4.45,4.45
61,62,28,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Cheese]",$9.25,9.25,9.25
62,63,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacam...",$11.25,11.25,11.25
63,64,28,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75,8.75,8.75
64,65,29,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cre...",$8.99,8.99,8.99
65,66,29,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese, Sour Cream, Lettuce]]",$8.99,8.99,8.99
66,67,30,1,Izze,[Blackberry],$3.39,3.39,3.39
67,68,30,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese]]",$8.99,8.99,8.99
68,69,30,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Gu...",$10.98,10.98,10.98
69,70,31,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Black Beans, Sour Cream]]",$8.99,8.99,8.99
70,71,31,1,Side of Chips,nan,$1.69,1.69,1.69
71,72,32,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]",$8.99,8.99,8.99
72,73,32,1,Chips and Guacamole,nan,$3.99,3.99,3.99
73,74,33,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75,8.75,8.75
74,75,33,1,Chips and Guacamole,nan,$4.45,4.45,4.45
75,76,34,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream, Lettuce]]",$8.75,8.75,8.75
76,77,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Lettuce]]",$8.75,8.75,8.75
77,78,34,1,Chips,nan,$2.15,2.15,2.15
78,79,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75,8.75,8.75
79,80,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce, Guacamole]]",$11.25,11.25,11.25
80,81,35,1,Chips,nan,$2.15,2.15,2.15
81,82,36,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25,9.25,9.25
82,83,36,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75,8.75,8.75
83,84,37,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese]]",$8.75,8.75,8.75
84,85,37,1,Steak Soft Tacos,[Tomatillo Red Chili Salsa],$9.25,9.25,9.25
...,...,...,...,...,...,...,...,...
4537,4538,1804,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75,8.75,8.75
4538,4539,1804,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25
4539,4540,1804,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4540,4541,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Guacamole...",$11.25,11.25,11.25
4541,4542,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Crea...",$8.75,8.75,8.75
4542,4543,1806,1,Bottled Water,nan,$1.50,1.50,1.50
4543,4544,1806,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75,8.75,8.75
4544,4545,1806,1,Bottled Water,nan,$1.50,1.50,1.50
4545,4546,1806,1,Canned Soft Drink,[Diet Coke],$1.25,1.25,1.25
4546,4547,1807,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$9.25,9.25,9.25
4547,4548,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Cheese]]",$9.39,9.39,9.39
4548,4549,1808,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4549,4550,1808,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Cheese, Sour Cream]]",$9.25,9.25,9.25
4550,4551,1809,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Cheese, Sour Cream]]",$8.75,8.75,8.75
4551,4552,1809,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4552,4553,1809,1,Canned Soft Drink,[Sprite],$1.25,1.25,1.25
4553,4554,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour Cream, Cheese, Guacamole]]",$11.25,11.25,11.25
4554,4555,1810,1,Steak Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75,11.75,11.75
4555,4556,1811,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]]",$8.75,8.75,8.75
4556,4557,1811,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Crea...",$11.25,11.25,11.25
4557,4558,1811,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream,...",$9.25,9.25,9.25
4558,4559,1812,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75,8.75,8.75
4559,4560,1812,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Guacamole, Lettuce]]",$11.25,11.25,11.25
4560,4561,1812,2,Canned Soft Drink,[Coke],$2.50,5.00,5.00
4561,4562,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$17.50,35.00,35.00
4562,4563,1814,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream]]",$9.25,9.25,9.25
4563,4564,1814,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4564,4565,1815,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Guacamole, Lettuce]]",$11.25,11.25,11.25
4565,4566,1815,1,Canned Soft Drink,[Sprite],$1.25,1.25,1.25
4566,4567,1816,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Pinto Beans, Cheese, Sour Cream]]",$8.75,8.75,8.75
4567,4568,1816,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4568,4569,1817,1,Bottled Water,nan,$1.50,1.50,1.50
4569,4570,1817,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75,8.75,8.75
4570,4571,1817,1,Bottled Water,nan,$1.50,1.50,1.50
4571,4572,1817,1,Canned Soft Drink,[Diet Coke],$1.25,1.25,1.25
4572,4573,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]",$9.39,9.39,9.39
4573,4574,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75,8.75,8.75
4574,4575,1819,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce]]",$8.75,8.75,8.75
4575,4576,1819,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4576,4577,1820,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Guacamole]]",$11.25,11.25,11.25
4577,4578,1820,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25
4578,4579,1821,1,Carnitas Burrito,"[Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Sour Cream]]",$9.25,9.25,9.25
4579,4580,1821,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4580,4581,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Guacamole]]",$11.25,11.25,11.25
4581,4582,1822,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettu...",$8.75,8.75,8.75
4582,4583,1822,2,Bottled Water,nan,$3.00,6.00,6.00
4583,4584,1823,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Lettuce]]",$8.75,8.75,8.75
4584,4585,1823,1,Chips,nan,$2.15,2.15,2.15
4585,4586,1823,1,Canned Soft Drink,[Diet Coke],$1.25,1.25,1.25
4586,4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.25,11.25,11.25
4587,4588,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]",$11.25,11.25,11.25
4588,4589,1824,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4589,4590,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.25,11.25,11.25
4590,4591,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Lettuce, Guacamole]]",$11.25,11.25,11.25
4591,4592,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce]]",$8.75,8.75,8.75
4592,4593,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Sour Cream, Cheese,...",$11.75,11.75,11.75
4593,4594,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75,11.75,11.75
4594,4595,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75,11.75,11.75
4595,4596,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Beans]]",$8.75,8.75,8.75
4596,4597,1826,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4597,4598,1826,1,Canned Soft Drink,[Nestea],$1.25,1.25,1.25
4598,4599,1826,1,Bottled Water,nan,$1.50,1.50,1.50
4599,4600,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75,8.75
4600,4601,1827,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4601,4602,1827,1,Canned Soft Drink,[Diet Coke],$1.25,1.25,1.25
4602,4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25,9.25,9.25
4603,4604,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25,9.25,9.25
4604,4605,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75,8.75,8.75
4605,4606,1828,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4606,4607,1828,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25
4607,4608,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, Sour Cream, Guacamole]]",$11.75,11.75,11.75
4608,4609,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, ...",$11.25,11.25,11.25
4609,4610,1829,1,Canned Soft Drink,[Sprite],$1.25,1.25,1.25
4610,4611,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75,11.75,11.75
4611,4612,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]",$11.25,11.25,11.25
4612,4613,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$9.25,9.25,9.25
4613,4614,1831,1,Chips,nan,$2.15,2.15,2.15
4614,4615,1831,1,Bottled Water,nan,$1.50,1.50,1.50
4615,4616,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,8.75,8.75
4616,4617,1832,1,Chips and Guacamole,nan,$4.45,4.45,4.45
4617,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75,11.75,11.75
4618,4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75,11.75,11.75
4619,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]",$11.25,11.25,11.25
4620,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]",$8.75,8.75,8.75
4621,4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75,8.75,8.75

In [212]:
order_totals = chip.groupby('order_id')['price_per_item'].sum()
order_totals

order_id
1        11.56
2        33.96
3        12.67
4        21.00
5        13.70
6        17.50
7        15.70
8        10.88
9        12.85
10       13.20
11       12.38
12       14.37
13       10.88
14       10.08
15       10.88
16       10.68
17       10.08
18       24.90
19       13.90
20       36.20
21       23.36
22       12.98
23       13.35
24       12.07
25       11.38
26       20.50
27       13.90
28       33.70
29       17.98
30       23.36
31       10.68
32       12.98
33       13.20
34       28.40
35       13.40
36       18.00
37       18.00
38       18.57
39       12.20
40       32.75
41       16.20
42       13.70
43       20.50
44       13.20
45       21.97
46       11.88
47       10.08
48       13.70
49       16.15
50       10.88
51       18.57
52       12.98
53       22.45
54       15.70
55       10.08
56       16.65
57       16.20
58       10.88
59       10.98
60       45.00
61       16.20
62       15.70
63       15.70
64       22.50
65       25.45
66       11.48
67       37.65
68       39.45
69       10.88
70       39.45
71       27.45
72       10.98
73       23.83
74       22.36
75       36.20
76       12.85
77       11.88
78       17.48
79       10.98
80       11.48
81       10.67
82       20.95
83       24.95
84       28.46
85       11.38
         ...
1750     23.50
1751     29.24
1752     18.14
1753     14.95
1754     12.50
1755     12.95
1756     15.70
1757     14.70
1758     13.70
1759     12.95
1760     14.20
1761     43.60
1762     18.64
1763     14.95
1764    101.55
1765     15.15
1766     36.70
1767     35.00
1768     31.75
1769     13.20
1770     13.25
1771     17.50
1772     32.25
1773     16.20
1774     13.70
1775     28.75
1776     12.40
1777     13.70
1778     12.75
1779     12.95
1780     22.50
1781     13.25
1782     13.40
1783     18.00
1784     14.70
1785     13.00
1786    197.70
1787     12.95
1788     14.65
1789     25.50
1790     15.45
1791     13.90
1792     12.75
1793     22.47
1794     14.45
1795     14.45
1796     13.25
1797     17.50
1798     29.49
1799     12.15
1800     19.69
1801     13.20
1802     20.00
1803     20.19
1804     14.45
1805     20.00
1806     13.00
1807     18.64
1808     13.70
1809     14.45
1810     23.00
1811     29.25
1812     25.00
1813     35.00
1814     13.70
1815     12.50
1816     13.20
1817     13.00
1818     18.14
1819     13.20
1820     12.50
1821     13.70
1822     26.00
1823     12.15
1824     26.95
1825     66.50
1826     15.95
1827     32.95
1828     14.45
1829     24.25
1830     23.00
1831     12.90
1832     13.20
1833     23.50
1834     28.75
Name: price_per_item, Length: 1834, dtype: float64

In [234]:
# What are the most popular 3 items?
popular_items = chip[['quantity', 'item_name']].groupby('item_name').sum().sort_values('quantity', ascending=False).head(3)
popular_items

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506

In [241]:
pop_items_series = pd.Series(chip[['quantity', 'item_name']].groupby('item_name').sum().sort_values('quantity', ascending=False).head(1))
pop_items_series

0    (q, u, a, n, t, i, t, y)
dtype: object