In [1]:
import pandas as pd
import numpy as np

In [42]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

### Return the first and last items of a list

In [68]:
def first_and_last(list):
    return [list[0], list[-1]]

In [69]:
first_and_last(a)

[0, 4]

### Check whether a number is within a particular range

In [77]:
def is_in_range(list, number):
    if number <= list[-1] and number >= list[0]:
        print('Good')
    else:
        print('Out of range')

In [78]:
is_in_range(a, 7)

Out of range

In [79]:
is_in_range(a, 3)

Good

### Produce the max number in a list

In [82]:
def max_of_three(num1, num2, num3):
    list_nums = sorted([num1, num2, num3])
    print(list_nums[-1])

In [83]:
max_of_three(3, 2, 5)

5

### Print unique items in a list

In [85]:
a = [1,2,2,4,4,5]
list(pd.Series(a).unique())

[1, 2, 4, 5]

### Remove duplicates, similiar to above

In [90]:
def remove_duplicates(lists):
    return list(pd.Series(lists).unique())

In [91]:
remove_duplicates(a)

[1, 2, 4, 5]

In [92]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [96]:
a = ['apple', 'orange', 'tomato']
b = ['corn', 'carrot', 'tomato']

### Print items that are contained in both of two lists.

In [99]:
list(set(a) & set(b))

['tomato']

In [101]:
[x for x in a if x in b]

['tomato']

### Verify whether or not a word is a palindrome

In [117]:
def pal(word):
    if word[::-1] == word:
        print('Yep')
    else:
        print(word, word[::-1])
        print('Nope, they look different')

In [118]:
pal('dog')

dog god
Nope, they look different

In [119]:
pal('bob')

Yep

In [120]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Print only evens

In [121]:
[x for x in a if x % 2 ==0]

[4, 16, 36, 64, 100]

### Print only odds

In [122]:
[x for x in a if x % 2 !=0]

[1, 9, 25, 49, 81]

### Print only numbers divisible by 3

In [123]:
[x for x in a if x % 3 ==0]

[9, 36, 81]

### Reverse the order of words in a sentence

In [130]:
def pal_sentence(sentence):
    words = sentence.split()
    print(words[::-1])

In [131]:
pal_sentence('Hello, I am Joseph')

['Joseph', 'am', 'I', 'Hello,']

### Line comprehension for numbers under a particular value

In [132]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [134]:
nums = [x for x in a if x <= 5]
nums

[1, 1, 2, 3, 5]

In [172]:
def is_divisor(number):
    range_nums = list(range(1,number+1))
#     print(range_nums)
    print([x for x in range_nums if number % x == 0])

In [167]:
a = [1,2,3,4,5,6]
b = 6

In [168]:
[x for x in a if b % x == 0]

[1, 2, 3, 6]

### Print divisors of a given number

In [173]:
is_divisor(12)

[1, 2, 3, 4, 6, 12]

In [174]:
is_divisor(48)

[1, 2, 3, 4, 6, 8, 12, 16, 24, 48]

### Trying to produce Fibonacci sequence up to a given number of times given, not complete

In [ ]:
def fib(number):
    list_nums_to_sum = []
    num_range = list(range(1, number+1))
    while num in num_range <= number:
        sum_of_two_recent = 
        list_nums_to_sum.append(number)

### Remove vowels from a given word

In [188]:
def remove_vowels(word):
    vowels = 'aeiou'
    letters = list(word)
    rem_letters = []
    for letter in letters:
        if letter not in vowels:
            rem_letters.append(letter)
    return ''.join(rem_letters)

In [190]:
remove_vowels('dog')

'dg'

### Sum the two smallest amounts out of a list

In [204]:
def sum_two_smallest(nums):
    return (sorted(nums)[0]) + (sorted(nums)[1])

In [205]:
numbers = [4,5,3,7,9,2]

In [206]:
sum_two_smallest(numbers)

5